*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
  
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
.img{
background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80');
 width: 850px;
 height: 450px;  
 display: flex;
 justify-content: center;
 align-items: center; 
 margin:  10px;
}
#text-nsa{
    letter-spacing: 20px; 
    color:#fff;
    font-size: 5rem; 
    text-shadow: 5px 3px white; 
    animation: moveLeft  2s ease-in-out;
} 
#text-nsa:hover{
    color: teal;
}
.two{
width: 850px;
height: 324px;
display: flex;
margin:  10px;
background: rgb(224, 219, 219);
animation: move  2s ease;
}

.box{
width:270px;
height: 324px;
margin: 2rem;
flex-wrap: wrap;


}
.nav{
    text-decoration: none;
    color: rgb(49, 48, 48);
    display: block;
}
.nav:hover{
    text-decoration: line-through;
}
 .btn{
     width: 100px;
     height: 30px;
     border-radius:  5px;
 }
 .btn:hover{
     background: wheat;
     color: tomato;
 }
 @media (max-width:400px){ 
         . 
 }
 
 @keyframes moveLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem); }
    80% {
      transform: translateX(1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }
      @keyframes move {
        0% {
          opacity: 0;
          transform: translateX(10rem); }
        80% {
          transform: translateX(1rem); }
        100% {
          opacity: 1;
          transform: translate(0); } }
 